{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block 'conteudo' %}
<div class='container bg-info border'>
    <h1>Encurte um link abaixo</h1>
    <form method='POST' action="{% url 'encurtador:link_encurtado' %}">
        <div class='form-group container-fluid row'>
        {% csrf_token %}
            <div class='bg-info col-6'>
                {{ form|crispy }}
            </div>
            <div class='col-6'>
                <input class='btn btn-primary' type='submit' value='Encurtar'>
            </div>
        </div>
</div>

{% endblock %}