{% extends 'base.html' %}

{% block 'conteudo' %}
    <h1>Encurte um link abaixo</h1>
    <form method='POST' action="{% url 'encurtador:link_encurtado' %}">
        {% csrf_token %}
        <div class='form-group'>
            <table>
                <tr>
                    <td>
                        {{ form }}
                    </td>
                    <td>
                        <input type='submit' value='Encurtar' class='form-control'>
                    </td>
                </tr>
            </table>
        </div>

{% endblock %} 